@import url(http://fonts.googleapis.com/css?family=Inika);
@import url(http://fonts.googleapis.com/css?family=Lusitana);

#top{
	text-align: center;
	font-size:34pt;
	color: #4E3E69;
	background-color: #EBE9BC;
	font-family: 'Inika', sans-serif;
	font-weight: thick;
	padding: 10px;
	text-shadow: 0px 2px 2px #86B3B5;
	border-radius: 0.4em;
	box-shadow: 0px 2px 5px #EBE9BC;
}

#nav{
	list-style:none;
	font-family: 'Lusitana', sans-serif;
	font-weight: bold;
	text-shadow: 0px 2px 1px #000; 
	margin-bottom:10px;
	/* clear floats */
	float:left;
	width:100%;
}
#nav li{
	float:left;
	margin-right:20px;
	position:relative;
}
#nav a{
	display:block;
	padding:10px 15px;
	color:#fff;
	background-color: #38768F;
	text-decoration:none;
	border-radius: 0.4em;
	box-shadow: 0px 2px 3px black;
}
#nav a:hover{
	color:#fff;
	background:#6b0c36;
	text-decoration:none;
}

/*---DROPDOWN---*/
#nav ul{
	background:#fff;
	background:rgba(255,255,255,0);
	padding:0;
	list-style:none;
	position:absolute;
	left:-9999px;
}
#nav ul li{
	padding-top:8px;
	float:none;
}
#nav ul a{
	white-space:nowrap;
}
#nav li:hover ul{
	left:0;
}
#nav li:hover a{
	background:#B0C9D1;
	text-decoration:none;
}
#nav li:hover ul a{
	background:#458065;
	text-decoration:none;
	border-radius: 1.6em;
}
#nav li:hover ul li a:hover{
	background:#38768F;
}

#receipt{
	position: absolute;
	top: 140px;
	left: 750px;
	font-family: 'Lusitana', sans-serif;
	font-size: 30px;
	color: #458065;
}

#checkOut{
	position: absolute;
	top: 180px;
	left: 750px;
	font-family: 'Lusitana', sans-serif;
	font-size: 24px;
	color: #474F69;
}
